/* ========== reset ========== */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html {
    font-size: 62.5%;
}

/* ========== global variables ========== */
:root {
    --font-size-small: 1.4rem; 
    --font-size-md: 1.6rem;
    --color-primary: #FF6E31;
    --color-secondary: #041c3e;


}

/* ========== utility classes ========== */

.hidden {
    display: none !important;
}

/* ========== main content ========== */

*::selection {
    background-color: var(--color-primary);
    color: white;
}

nav {
    height: 5rem;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
}


nav a {
    font-size: var(--font-size-md);
    color: var(--color-secondary);
    font-weight: 700;
    text-shadow: 0 0 3px white;
}

.logout {
    margin-left: auto;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 8rem;
    font-weight: 700;
    color: var(--color-secondary);
}

body {
    background-color: rgb(233, 233, 233);
}

button,
input[type=submit] {
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition: all 300ms;
}

button:hover,
input[type=submit]:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .4);
}

button:active,
input[type=submit]:active {
    transform: translateY(1px);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .4);
}

.message-container-box {
    font-size: var(--font-size-md);
    color: rgba(255, 0, 0, .8);
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    background-color: white;
    padding: 4rem 4rem 3rem 3rem;
    border-radius: 5px;
    border: 1px solid #777;
}

.close-message-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: rgb(37, 37, 37);
}

.success-message {
    color: rgb(0, 221, 255);
}

.empty-recipe-container {
    width: fit-content;
    margin: 5rem auto;
    color: grey;
    font-size: 1rem;
    padding-inline: 2rem;
}

/* ========== login screen ========== */

#log-in {
    font-size: var(--font-size-md);
    border: 1px solid black;
    border-radius: 5px;
    max-width: 80%;
    margin: 5rem auto;
    padding: 6rem 2rem;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 2rem;
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#log-in h2 {
    font-size: var(--font-size-md);
    font-weight: 300;
}

.input-container {
    width: fit-content;
}

.input-container > * {
    font-size: var(--font-size-md);
    width: 100%;
    margin-bottom: 2rem;
    padding: .7rem;
}

#sign-in,
#sign-up {
    position: absolute;
    padding: .5rem 2rem;
    border-radius: 10px;
    font-size: var(--font-size-small);
    cursor: pointer;
}

#sign-in {
    bottom: 2rem;
    left: 3rem;
    background-color: rgb(60, 119, 238);
    color: white;
}

#sign-up {
    bottom: 2rem;
    right: 3rem;
}

/* ========== index screen ========== */

.index-container {
    margin-top: 4rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    align-content: center;
}

.recipe-overview {
    width: fit-content;
    margin: 0 auto;
}

.recipe-overview h2 {
    font-size: 1.8rem;
    text-decoration: underline;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: #181D31;
    padding: .8rem;
    transition: all .4s;
}

.recipe-overview h2:hover {
    transform: translateY(-2px);
    color: var(--color-primary);
}


/* ========== show screen ========== */

.recipe-name {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.show-container .description {
    font-size: var(--font-size-md);
    text-align: center;
    color: rgb(70, 70, 70);
    margin-bottom: 2rem;
}

.description::before {
    content: '-';
}

.show-container p {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 100;
}

.show-container h3 {
    font-size: var(--font-size-md);
    margin: 2rem 4rem;
}

.show-container ol {
    margin: 1rem 6rem;
}

.show-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: 1rem 1rem 1rem 5rem;
}

.show-container li {
    font-size: var(--font-size-small);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.show-container ol li {
    margin-bottom: 2rem;
}

.edit-recipe {
    margin-left: 3rem;
    padding: .5rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(60, 119, 238);
    color: white;
    margin-bottom: 5rem;
    font-size: var(--font-size-small);
}

/* ========== form styles ========== */

#add-recipe,
#update-recipe {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

#add-recipe input,
#update-recipe input {
    font-size: var(--font-size-md);
    line-height: 1.5;
}

#add-recipe input:focus,
#update-recipe input:focus,
.add-recipe-form-steps textarea:focus,
.update-form-steps textarea:focus {
   outline: 2px solid var(--color-primary);
}

.update-form-time,
.add-recipe-form-time {
    width: 10rem;
}

#add-recipe h3,
#update-recipe h3 {
    font-size: var(--font-size-md);
    margin: 1rem;
}

#add-recipe label,
#update-recipe label {
    font-size: 1.2rem;
}

#add-recipe button,
#update-recipe button {
    width: fit-content;
    padding: .2rem .5rem; 
    border-radius: 5px;
    font-size: var(--font-size-small);
}

.add-recipe-form-add-ingredient,
.update-form-add-ingredient {
    margin-bottom: 1rem;

    background-color: var(--color-secondary);
    color: white;
}

.add-recipe-form-ingredients div,
.update-form-ingredients div {
    display: flex;
    gap: .2rem;
    margin-bottom: 1rem;
}

#add-recipe .add-recipe-form-ingredients input,
#update-recipe .update-form-ingredients input {
    width: 5rem;
    font-size: var(--font-size-small);
    line-height: 1;
}

.add-recipe-form-ingredients button,
.update-form-ingredients button {
    margin-left: 3rem;
    font-size: var(--font-size-md);

    background-color: orangered;
    color: white;
}

.add-recipe-form-add-step,
.update-form-add-step {
    margin-bottom: 1rem;

    background-color: var(--color-secondary);
    color: white;
}

.add-recipe-form-steps button,
.update-form-steps button {
    margin-left: 3rem;
    font-size: var(--font-size-md);
    position: absolute;

    background-color: orangered;
    color: white;
}

.update-form-steps div,
.add-form-steps-div {
    position: relative;
}

.add-recipe-form-steps textarea,
.update-form-steps textarea {
    width: 80%;
    height: 8rem;
    padding: .5rem;
    font-size: var(--font-size-small);
}

.add-recipe-form-submit {
    margin-top: 2rem;
    margin-bottom: 5rem;

    background-color: rgb(60, 119, 238);
    color: white;
}

.update-form-submit {
    margin-top: 2rem;
    background-color: rgb(60, 119, 238);
    color: white;
}

.update-form-button-container {
    margin-bottom: 5rem;
}

.delete-recipe-submit {
    margin-left: 50vw;
    background-color: orangered;
    color: white;
}

/* ========== media queries ========== */

@media screen and (min-width: 37.5em) {
    html {
        font-size: 70%;
    }

    nav a {
        margin-inline: 2rem;
    }

    #log-in {
        max-width: 65%;
    }

    #add-recipe .add-recipe-form-ingredients input,
    #update-recipe .update-form-ingredients input {
        width: 10rem;
    }

    .show-container {
        width: 80%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 56.25em) {
    html {
        font-size: 80%;
    }

    #log-in {
        max-width: 50%;
    }

    .show-container {
        width: 70%;
    }

    .add-recipe-form-name,
    .add-recipe-form-description,
    .update-form-name,
    .update-form-description {
        width: 70%;
    }

    #add-recipe .add-recipe-form-ingredients input,
    #update-recipe .update-form-ingredients input {
        width: 15rem;
    }
}

@media screen and (min-width: 75em) {
    html {
        font-size: 85%;
    }

    nav a {
        margin-inline: 4rem;
    }

    #update-recipe,
    #add-recipe {
        margin-left: 15rem;
    }

    #log-in {
        max-width: 40%;
    }
}

@media screen and (min-width: 94em) {
    #sign-in {
        left: 10rem;
    }

    #sign-up {
        right: 10rem;
    }

    .add-recipe-form-name,
    .add-recipe-form-description,
    .update-form-name,
    .update-form-description {
        width: 60%;
    }
}